<% @comments.each do |comment| %>
    <% cache comment_cache_key(comment) do %>
        <%= render :partial => "comment", :locals => {:comment => comment} %>
    <% end %>
<% end %>
<div id="paginator">
  <%= will_paginate @comments %>
</div>