<% @comments.each do |comment| %>
    <% cache comment_cache_key(comment) do %>
        <%= render :partial => "comment", :locals => {:comment => comment} %>
    <% end %>
<% end %>
<tr id="paginator">
  <td colspan="4" style="text-align:center;"><%= will_paginate @comments %></td>
</tr>