<div class="paginator">
  <%= will_paginate @links %>
</div>

<div class="cont">
  <%= render :partial => "link/table",
             :locals => {:links => @links, :header => t(:all_links), :under_btns => false} %>
</div>

<div class="paginator">
  <%= will_paginate @links %>
</div>
