<div class="paginator">
  <%= will_paginate @links %>
</div>

<div class="cont">
  <%= render :partial => "layouts/link_table", :locals => {:links => @links, :tab_header=> t(:all_links)} %>
</div>


<div class="paginator">
  <%= will_paginate @links %>
</div>
