.avatar{
    width:50px;
    height:50px;
}
.username{
    width:110px;
    padding:5px;
}
.comment_body{
    width:400px;
    padding:5px;
}
.comment_date{
    padding:5px;
}
#comment_body {
    height: 85px;
    width: 647px;
}
.even_tr{
    background-color: #ebf3fd;
}
.odd_tr{
    background-color: #acd1fe;
}
.head{
    background-color: #6899d5;
    text-align:center;
}