* {
    margin: 0;
    padding: 0;
}

body {
    background: url("/images/pattern_1.png") repeat scroll left top transparent;
    color: #4A586C;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

#container {
    margin: -49px auto 0;
    padding-bottom: 20px;
    width: 756px;
}

#top_bar {
    background: url("/images/dark-bg.png") repeat scroll center top transparent;
    height: 49px;
}

.cont {
    background: none repeat scroll 0 0 #D5E4E8;
    border: 3px solid #B5CAD0;
    margin: 10px auto 20px;
    padding: 0 25px;
    width: 700px;
}

.comm_cont {
    background: none repeat scroll 0 0 #F4F3E8;
    border: 3px solid #B5CAD0;
    margin: 10px auto 20px;
    padding: 0 25px;
    width: 700px;
}

.TitleRow {
    background-color: #F1F1F1;
    border-bottom: 3px solid #B5CAD0;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    height: 24px;
    margin: 0 auto 0 -25px;
    padding-left: 10px;
    padding-top: 10px;
    width: 740px;
}

.UnderRow {
    background-color: #F1F1F1;
    border-top: 3px solid #B5CAD0;
    height: 38px;
    margin: 0 auto 0 -25px;
    padding-left: 10px;
    padding-top: 10px;
    width: 740px;
}

.PageRow {
    border-bottom: 3px solid #B5CAD0;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    height: 58px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    width: 650px;
}

.PageRow a {
    color: #4A586C;
    text-decoration: none;
}

.PageRow a:hover {
    text-decoration: underline;
}

#TableHeader {
    background-color: #f1f1f1;
    color: #555;
    font-size: 16px;
}

#TableRow {
    font-size: 13px;
    height: 20px;
}

.VoteArrows {
/*float: left;*/
}

.Plus {
    background: url("../images/button_thumbsup_left_100.png") repeat scroll 0 0 transparent;
    border-width: 0;
    cursor: pointer;
    float: left;
    height: 25px;
    width: 40px;
}

.Plus:hover {
    background: url("../images/button_thumbsup_left.png") repeat scroll left -100px transparent;
}

.Minus {
    background: url("../images/button_thumbsdown_left_100.png") no-repeat scroll left 0 transparent;
    border-width: 0;
    cursor: pointer;
    float: left;
    height: 25px;
    width: 40px;
}

.Minus:hover {
    background: url("../images/button_thumbsdown_left.png") no-repeat scroll left -100px transparent;
}

.right_but {
    background: url("../images/button_thumbs_right.png") no-repeat scroll right 0 transparent;
    left: 10px;
    line-height: 22px;
    margin: 0 0 0 14px;
    padding: 4px 14px 4px 6px;
    position: relative;
}

.RAvatar {
    width: 80px;
    float: left;

}

.RVotes {
    width: 150px;
    float: left;

}

.RComments {
    width: 150px;
    float: left;
}

.RNew_Com {
    width: 150px;
    float: left;
}

.RName {
    width: 300px;
    float: left;
}

.RCount {
    float: left;
    padding-left: 20px;
    width: 90px;
}

.Number {
    color: #1D637D;
    float: left;
    font-size: 16px;
    margin-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    width: 80px;
}

.RDate {
    float: left;
    font-size: 11px;
    margin-top: 10px;
    padding-left: 20px;
    width: 80px;
}

.Tab_header {
    font-size: 12px;
    font-weight: bold;
    padding-left: 20px;
}

.menu {
    height: 49px;
}

#page_header {
}

#system_message {
}

#system_message .notice {
    color: green;
}

#system_message .error {
    color: red;
}

#user_ava {
    float: left;
    margin: 5px 0 0 10px;
}

#greeting {
    height: 50px;
    margin-left: 80px;
    padding-top: 15px;

}

.log_in_out {
    float: right;
    padding: 10px;
}

.twitter_but {
    float: right;
    margin: 5px;
}

.log_in_out:hover {
    border-bottom: 3px solid #F489A7;
}

.log_in_out a {
    color: #AFC1C5;
    padding: 10px;
    text-decoration: none;
}

.log_in_out a:hover {
    color: #F489A7;
}

#new_link_form {
    background: none repeat scroll 0 0 #D5E4E8;
    border: 3px solid #B5CAD0;
    margin: 0 auto;
    padding: 10px 10px 0;
    width: 210px;
}

.new_link_title {
    text-align: center;
    width: 100%;
}

.error_field {
    color: #ff0000;
}

#user_section {
    background-color: #F1F1F1;
    border: 2px solid #B5CAD0;
    border-top: none;
    margin-bottom: 10px;
}

#ruller {
    background: url("/images/ruler.png") repeat-x scroll 0 0 transparent; /*float: left;*/
    height: 7px;
}

.pagination {
    float: right;
    padding-right: 10px;
}

.pagination a {
    background: none repeat scroll 0 0 #B5CAD0;
    border: 1px solid #435266;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0;
    padding: 2px 5px;
    text-decoration: none;
}

.pagination a:hover {
    color: #F05681;
}

.button {
    background: none repeat scroll 0 0 #B5CAD0;
    border: 1px solid #435266;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0;
    padding: 4px 8px;
}

.underbutton {
    font-size: 20px;
    text-decoration: none;
    margin: 0 122px;
}

.button:hover {
    cursor: pointer;
}

.last {
    border-bottom: none;
}

.inp {
    width: 205px;
}

#close_but {
    background-image: url("/images/pcCloseButton.png");
    height: 14px;
    margin: -8px 0 0 204px;
    width: 14px;
}

.tw_body {
    width: 100%;
}

.PageRow .title_link {
    color: #F05681;
    font-size: 16px;
    text-decoration: none;
}

.title_link:hover {
    text-decoration: underline;
}

.PageRow .url_link {
    margin-top: 5px;
}

.PageRow .url_link a {
    text-decoration: none;
}

.PageRow .url_link a:hover {
    text-decoration: underline;
}

.welcome_link {
    color: #4A586C;
    text-decoration: none
}

.welcome_link:hover {
    text-decoration: underline
}

.paginator {
    width: 100%;
    height: 20px;
}

.add_comm {

}

#new_comment {
    margin-top: 10px;
}

.avatar {
    height: 50px;
    padding: 5px 5px 1px;
    width: 50px;
}

.comment_body {
    width: 400px;
    padding: 5px;
}

.comment_date {
    padding: 5px;
}

#comment_body {
    height: 85px;
    margin-top: 2px;
    width: 700px;
}

.even_tr {
    background-color: #B5CAD0;
}

.head {
    background-color: #f1f1f1;
    text-align: center;
}

#all_comments {
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 700px;
}

#twitt_this_link {
    padding: 4px 0;
    text-decoration: none;
}

.comment_author {
    float: left;
}

.single_comment {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AAA;
    float: right;
    margin-bottom: 30px;
    min-height: 80px;
    padding: 15px 20px 0;
    position: relative;
    width: 520px;
}

.comment_col {
    clear: both;
    font-size: 12px;
    margin: 10px 0;
}

.comment_arrow {
    left: -17px;
    position: absolute;
    top: 25px;
}

.title_link {
    color: #F05681;
    font-size: 16px;
    text-decoration: none;
}

.username a:hover {
    text-decoration: underline;
}

.username a {
    width: 110px;
    padding: 5px;
    color: #F05681;
    text-decoration: none;
}

#logo {
    float: left;
}

#small_text {
    color: #66BBFF;
    font-size: 12px;
}

#big_text {
    color: #F05681;
    font-size: 19px;
    font-weight: bold;
    height: 26px;
}
.RTwit{
    float: left;
    margin-top: -7px;
}
