<div class="TitleRow">
  <div class="Tab_header"><%= tab_header %></div>
</div>

<% links.each_with_index do |link, index| %>
    <% cache link_cache_key(link) do %>
        <div class="PageRow<%= " last" if index == links.size-1 %>">
          <%= render :partial => "layouts/link_item", :locals => {:link => link} %>
        </div>
    <% end %>
<% end %>