<div class="TitleRow">
  <div class="Tab_header"><%= tab_header %></div>
</div>

<% links.each_with_index do |link, index| %>
    <div class="PageRow<%= " last" if index == links.size-1 %>">
      <% cache link_cache_key(link) do %>
          <%= render :partial => "layouts/link_item", :locals => {:link => link} %>
      <% end %>
    </div>
<% end %>